@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Noto+Serif');

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
header {
  padding: 0.5rem 1rem;
  .h2 {
    font-family: 'Playfair Display', serif;
    a {
      text-decoration: none;
    }
  }
}
footer {
  a {
    text-decoration: none !important;
  }
}
code {
  background-color: #f1f1f1;
  color: #2c3e50;
  padding: 2px 5px;
}
img {
  max-width: 100%;
  height: auto;
}
.cookie-bar {
  background-color: rgba(black, .8);
  border-radius: 3px;
  bottom: 0;
  font-size: .9em;
  left: 50%;
  margin-bottom: 20px;
  opacity: 0;
  padding: 15px 90px 15px 30px;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  transition: all 150ms ease-in-out;
  width: 90%;
  max-width: 300px;
  z-index: 2000;
  a {
    text-decoration: underline;
  }
  &.active {
    visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, -150, 0);
  }
  &--close-button {
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #444;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin: 0;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    width: 68px;
  }
}
.posts {
  .post {
    &__body {
      a {
        text-decoration: none;
      }
      p {
        font-size: .9em;
      }
      .tags span {
        cursor: pointer;
      }
    }
    &__image {
      &--loader {
        background: url('../images/loader.gif') center center no-repeat;
        background-size: 80px;
      }
      div {
        background-repeat: no-repeat;
        background-position: 50% 50% !important;
        background-size: cover;
        height: 100%;
      }
    }
  }
}
.article {
  .go-back {
    font-size: .9em;
    a {
      text-decoration: none;
    }
  }
  .post {
    font-family: 'Noto Serif', serif;
    font-size: 1.2em;
    &__body {
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
      }
      a {
        color: #212529 !important;
        text-decoration: underline;
        margin: 0 0 0 0 !important;
      }
      .tr-caption-container {
        color: #777;
        font-size: .9em;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
      }
    }
    .tags {
      cursor: pointer;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      font-size: .9em;
      a {
        text-decoration: none;
      }
    }
  }
}
.author {
  h5 {
    font-size: .9em;
  }
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  &__spotlight {
    ul {
      border-top: 1px solid #ccc;
      list-style: decimal-leading-zero;
      padding-left: 28px;
      a {
        text-decoration: none;
      }
    }
  }
  &__writers {
    border-top: 1px solid #eee;
  }
}